{% extends 'learning_logs/base.html' %}

{% block header %}
    <h1>讨论</h1>
{% endblock header %}

{% block content %}

    <ul>
        {% for topic in topics %}
            <li>
                <h3>
                    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
                </h3>
            </li>
        {% empty %}
            <li>没有新的标题添加</li>
        {% endfor %}
    </ul>
    <h3>
        <a href="{% url 'learning_logs:new_topic' %}">添加一个新的讨论</a></h3>
{% endblock content %}